@tailwind base;
@tailwind components;
@tailwind utilities;


.logindiv{
    height:75vh;
    width: 84vw;
}
.login-wrapper{
    width: 73vw;
}
/* sidebar for pc view */
.pcsidebar{
    width: 21vw;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* for pc */
@media only screen and (min-width:640px){
    .logindiv{
        height: 82vh;
    width: 28vw;
    }
    .login-wrapper{
        width: 21vw;
    }
    .header{
        width: 25vw;

    }
    .allnotes{
        width: 25vw;
        height: 86vh;
    }
    .textareainput{
        width: 54vw;
        height:72vh;
    }
    .titleinput{
        width: 54vw;

    }
    .header-top{
        width: 54vw;

    }

}